//global styles

//font-colors
$primaryColor: #4d4643;
$secondaryColor: #1bbd36;
$tertiary-color: #c4c4c4;


//font-weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
