@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');
@import '../../FunctionStyles/breakpoints';
@import '../../FunctionStyles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  margin-top: 0.5rem;

  @include media-lg {
    margin-top: 1rem;
  }

  .logoHeaderWrapper {
    height: 5rem;
    .logoHeader {
      height: 75%;
      padding-left: 1rem;
    
      @include media-lg {
        height: 100%;
        padding-left: 10rem;
        padding-bottom: 10px;
      }
    }
  }
}




.navHeaderList {
  display: grid;
  position: relative;
  list-style-type: none;
  gap: 2rem;

  @include media-lg {
    display: flex;
    gap: 3rem;
  }

  .navItem {
    font-size: 22px;
    font-weight: 600;

    @include media-lg {
      font-size: 16px;
    }
  }
}

.dropdownItem {
  position: relative;
  
  &.open {
    .dropdown {
      display: grid;
      grid-gap:16px;
      position: fixed;
      left: 1rem;
      list-style: none;
      position: absolute;
      height: auto;
      width: auto;
      top: 2rem;
      padding: 16px 16px 24px 0;
      box-shadow: $box-shadow-light;

      @include media-lg {
      padding: 16px 16px 16px 0
      };
    }
  }

  .dropdownArrow {
    position: absolute;
    width: 25px;
    height: 25px;

    @include media-lg {
      height: 20px;
    }
  }
}

.dropdown {
  display: none;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;


  .dropdownList {
    margin-top: 0;
  }
}

.header .navBtn {
  margin-top: 1.12px;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: $primaryColor;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
  color: $secondaryColor;

  @include media-lg {
    display: none;
  }
}

.header .navBtn {
  visibility: visible;
  opacity: 1;

  @include media-lg {
    display: none;
  }
}

.header .nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  transition: 1s;
  transform: translateY(-100vh);

  @include media-lg {
    transform: none;
    position: relative;
    flex-direction: row;
    margin-top: 1.2rem;
    margin-right: 3rem;
  }
}

.headerSocialContainer{
  text-align: center ;

  @include media-lg {
    display: flex;
  }

  &::before {
  content: '';
  padding-left: 10rem;
  border-top: 1px solid $tertiary-color;
  
  @include media-lg {
    border-top: none ;
    border-left: 1px solid $tertiary-color;
    padding-left: 0;
    }
  }
}

.headerSocialLinks {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;

  @include media-lg {
    margin-bottom: 0;
  }

  svg {
    height: 2rem;
    width: 2rem;
  }
}

.socialLinksButton {
  border: none;
  background-color: transparent;
  color: $tertiary-color;
}

.logoNavOverlay {
  position: relative;
  width: 10rem;

  @include media-lg {
    display: none;
  }
}

.header .responsiveNav {
  transform: none;
  border-radius: 1rem;
  background: white;
  top: 25px;
  left: 0.5rem;
  width: 95%;
  height: 95%;
}

.nav a {
  margin: 0 2rem;
  color: $primaryColor;
  text-decoration: none;
  font-weight: $font-weight-medium;
  font-size: 1.5rem;

  @include media-lg {
    margin: 0 1rem;
    font-size: 16px;
    font-weight: 600;
  }
}
  
.nav a:hover {
  color: $secondaryColor;
}

.nav .navCloseBtn {
  position: absolute;
  top: 0;
  right: 2rem;
  margin-top: 3rem;

  svg {
    width: 1rem;
  }
}

.navOverlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  transition: ease-in-out 0.2s;
}